---
layout: default
title: Home
---

  <div class="row" id='general-info'>
    <div class="col-lg-4">
      <div class='face_img'>
        <img src='/assets/images/haowu_photo.jpg'>
      </div>
      <div class='hao-card'>
          {% include contact.html %}
      </div>
    </div>

    <div class="col-lg-8">
      <div class='biography'>
        <!-- <h1>Hao Wu</h1> -->
        {% include bio.html %}
      </div>
        <div class="news">
          <h2>News</h2>
          {% capture news %}{% include news.md %}{% endcapture %}
          {{ news | markdownify }}
        </div>
    </div>
  </div>



  <div class="row">
    {% include research.html %}
  </div>
