<p>Welcome to my website! I am a technologist, research scientist, and software engineer with 10 years of experience in Artificial Intelligence, Machine Learning, and Cognitive Neuroscience, specializing in foundation models towards AGI, Bayesian Inference, probabilistic programming, and their industry applications.
</p>

<p>
Currently I am employed as an Applied Scientist at AWS, located at Seattle. 
</p>

<p>
Previously I got my Ph.D degree in Computer Science at Northeastern University, where I was advised with Prof. <a href="http://www.ccs.neu.edu/home/jwvdm/">Jan-Willem van de Meent</a>. Before that I had my M.Sc in Computer Science at University of Virginia and my M.Sc in Applied Mathematics from University of Washington.
</p>
