<p>I am a Ph.D candidate in the Khoury College of Computer Sciences at Northeastern University.
  My supervisor is Prof. <a href="http://www.ccs.neu.edu/home/jwvdm/">Jan-Willem van de Meent</a>.
  Previously, I received my M.Sc in Computer Science from University of Virginia
  and an M.Sc in Applied Mathematics from University of Washington.
</p>
<p>
My main research focus is in deep probabilistic modeling and probabilistic programming.
  I am interested in developing scalable inference methods for deep generative models, in which I hope to learn
  representations that can uncover hierarchical structure of data in various problem domains.
</p>
