<p>I am a Ph.D candidate in the Khoury College of Computer Sciences at Northeastern University.
  My supervisor is Prof. <a href="http://www.ccs.neu.edu/home/jwvdm/">Jan-Willem van de Meent</a>.
  Previously, I received my M.Sc in Computer Science from University of Virginia
  and an M.Sc in Applied Mathematics from University of Washington.
</p>
<p>
My research focuses on deep generative modeling, amortized inference and probabilistic programming.
I have mainly worked on developing scalable inference methods for structured generative models,
by which I hope to learn representations that characterize complex data modalities.
Check out my <a href="/assets/hao_research_statement.pdf">Research Statement</a> for details about my research work.
</p>
