<h3>Hao Wu</h3>
<div class="status-info row">
<p>
  PhD Candidate in Khoury
  <br>
  College of Computer Sciences
  <br>
  Northeastern University
</p>
</div>
<div class="contact-info row">
<p>
  <a href='mailto:wu.hao10@northeastern.edu'><img src="/assets/images/email.svg" alt="">&nbsp; E-Mail</a>
  <br>
  <a href='https://github.com/hao-w'><img src="/assets/images/github.svg" alt="">&nbsp; Github</a>
  <br>
  <a href='https://scholar.google.com/citations?user=fcyOKfQAAAAJ&hl=en'><img src="/assets/images/google_scholar.svg" alt="">&nbsp; G. Scholar</a>
  <br>
  <a href="https://twitter.com/Hao_Wu_"><img src="/assets/images/twitter.svg" alt="">&nbsp; Twitter</a>
  <br>
  <a href="https://www.linkedin.com/in/hao-w/"><img src="/assets/images/linkedin.svg">&nbsp; LinkedIn</a>
</p>

<!-- <div class="zoom"><p>
  <a href='mailto:wu.hao10@northeastern.edu'><img src="/assets/images/email.svg" alt="">&nbsp; E-Mail</a>
</p></div>

<div class="zoom"><p>
  <a href='https://github.com/hao-w'><img src="/assets/images/github.svg" alt="">&nbsp; Github</a>
</p></div>

<div class="zoom"><p>
  <a href='https://scholar.google.com/citations?user=fcyOKfQAAAAJ&hl=en'><img src="/assets/images/google_scholar.svg" alt="">&nbsp; G. Scholar</a>
</p></div>

<div class="zoom"><p>
  <a href="https://twitter.com/Hao_Wu_"><img src="/assets/images/twitter.svg" alt="">&nbsp; Twitter</a>
</p></div>

  <div class="zoom"><p>
  <a href="https://www.linkedin.com/in/hao-w/"><img src="/assets/images/linkedin.svg">&nbsp; LinkedIn</a>
</p></div> -->

</div>
