<div class='publications'>
<h2>Publications</h2>

<ul>
<li class='paper'>
<p>
Learning Proposals for Probabilistic Programs with Inference Combinators
<br>
Sam Stites*, Heiko Zimmermann*, <strong>Hao Wu</strong>, Eli Sennesh, Jan-Willem van de Meent
<br>
<em>arXiv preprint</em>
<br>
<a href="https://arxiv.org/abs/2103.00668">Paper</a>
<a href="">Bibtex</a>
</p>
</li>

<li class='paper'>
<p>
Conjugate Energy-Based Models
<br>
<strong>Hao Wu</strong>*, Babak Esmaeili*, Michael Wick, Jean-Baptiste Tristan, Jan-Willem van de Meent
<br>
<em>Symposium on Advances in Approximate Bayesian Inference (AABI), 2021</em>
<br>
<a href="https://openreview.net/forum?id=4k58RmAD02">Paper</a>
<a href="">Bibtex</a>
<a href="https://www.youtube.com/watch?v=1SMaKykE4oE&feature=youtu.be">Talk</a>
</p>
</li>

<li class='paper'>
<p>
Nested Variational Inference
<br>
Heiko Zimmermann, <strong>Hao Wu</strong>, Babak Esmaeili, Sam Stites, Jan-Willem van de Meent
<br>
<em>Symposium on Advances in Approximate Bayesian Inference (AABI), 2021</em>
<br>
<a href="https://openreview.net/forum?id=tvxL1eqPl9Y">Paper</a>
<a href="">Bibtex</a>
</p>
</li>

<li class='paper'>
<p>
Amortized Population Gibbs Samplers with Neural Sufficient Statistics
<br>
<strong>Hao Wu</strong>, Heiko Zimmermann, Eli Sennesh, Tuan Anh Le, Jan-Willem van de Meent
<br>
<em>International Conference on Machine Learning (ICML), 2020</em>
<br>
<a href="http://proceedings.mlr.press/v119/wu20h.html">Paper</a>
<a href="/assets/bibtex/wu2019amortized.html">Bibtex</a>
<a href='https://github.com/hao-w/apgs'>Code</a>
<a href='https://icml.cc/virtual/2020/poster/6715'>Talk</a>
</p>
</li>

<li class='paper'>
<p>
Structured Disentangled Representations
<br>
Babak Esmaeili, <strong>Hao Wu</strong>, Sarthak Jain, Alican Bozkurt, N. Siddharth, Brooks Paige, Dana H. Brooks, Jennifer Dy, Jan-Willem van de Meent
<br>
<em>Artificial Intelligence and Statistics (AISTATS), 2019</em>
<br>
<a href="http://proceedings.mlr.press/v89/esmaeili19a.html">Paper</a>
<a href="/assets/bibtex/esmaeili2018structured">Bibtex</a>
</p>
</li>

<li class='paper'>
<p>
Composing Modeling and Inference Operations with Probabilistic Program Combinators
<br>
Eli Sennesh, Adam Ścibior, <strong>Hao Wu</strong>, Jan-Willem van de Meent
<br>
<em>NeurIPS Bayesian Nonparametrics Workshop, 2018</em>
<br>
<a href="https://arxiv.org/abs/1811.05965">Paper</a>
<a href="/assets/bibtex/sennesh2018composing.html">Bibtex</a>
</p>
</li>

</ul>
</div>
