<div class='publications'>
<h2>Publications</h2>

<ul>

<li class='paper'>
<div class="paper-info">
<div class="title">Nested Variational Inference</div>
<em>Conference on Neural Information Processing Systems (NeurIPS), 2021</em>
<br>
<em>Symposium on Advances in Approximate Bayesian Inference (AABI), 2021</em>
<br>
Heiko Zimmermann, <strong>Hao Wu</strong>, Babak Esmaeili, Sam Stites, Jan-Willem van de Meent
<br>

<a href="https://proceedings.neurips.cc/paper/2021/hash/ab49b208848abe14418090d95df0d590-Abstract.html">Paper</a>
<a data-bs-toggle="collapse" href="#zimmermann2021nested" role="button" aria-expanded="false">Bibtex</a>
</div>

<div class="collapse" id="zimmermann2021nested">
  <div class="card card-body">
    @article{zimmermann2021nested,<br>
      title={Nested Variational Inference},<br>
      author={Zimmermann, Heiko and Wu, Hao and Esmaeili, Babak and van de Meent, Jan-Willem},<br>
      journal={Advances in Neural Information Processing Systems},<br>
      volume={34},<br>
      year={2021}<br>
    } </div>
</div>
</li>

<li class='paper'>
<div class="paper-info">
<div class="title">Learning Proposals for Probabilistic Programs with Inference Combinators</div>
<em>Uncertainty in Artificial Intelligence (UAI), 2021</em>
<br>
Sam Stites*, Heiko Zimmermann*, <strong>Hao Wu</strong>, Eli Sennesh, Jan-Willem van de Meent
<br>

<a href="https://proceedings.mlr.press/v161/stites21a.html">Paper</a>
<a data-bs-toggle="collapse" href="#stites2021combinators" role="button" aria-expanded="false">Bibtex</a>
</div>

<div class="collapse" id="stites2021combinators">
  <div class="card card-body">
    @inproceedings{stites2021learning,<br>
      title={Learning proposals for probabilistic programs with inference combinators},<br>
      author={Stites, Sam and Zimmermann, Heiko and Wu, Hao and Sennesh, Eli and van de Meent, Jan-Willem},<br>
      booktitle={Uncertainty in Artificial Intelligence},<br>
      pages={1056--1066},<br>
      year={2021},<br>
      organization={PMLR}<br>
    } </div>
</div>

</li>

<li class='paper'>
<div class="paper-info">
<div class='title'>Conjugate Energy-Based Models</div>
<em>International Conference on Machine Learning (ICML), 2021</em>
<br>
<em>Symposium on Advances in Approximate Bayesian Inference (AABI), 2021</em>
<br>
<strong>Hao Wu</strong>*, Babak Esmaeili*, Michael Wick, Jean-Baptiste Tristan, Jan-Willem van de Meent
<br>

<a href="https://proceedings.mlr.press/v139/wu21a.html">Paper</a>
<a data-bs-toggle="collapse" href="#wu2021conjugate" role="button" aria-expanded="false">Bibtex</a>
<a href="https://www.youtube.com/watch?v=1SMaKykE4oE&feature=youtu.be">Talk</a>
</div>

<div class="collapse" id="wu2021conjugate">
  <div class="card card-body">
    @inproceedings{wu2021conjugate, <br>
      title={Conjugate Energy-Based Models}, <br>
      author={Wu, Hao and Esmaeili, Babak and Wick, Michael L and Tristan, Jean-Baptiste and van de Meent, Jan-Willem}, <br>
      booktitle={International Conference on Machine Learning},<br>
      volume = {139}, <br>
      pages = {11228--11239}, <br>
      year = {2021}, <br>
      series = {Proceedings of Machine Learning Research}, <br>
      publisher = {PMLR}<br>
}
  </div>
</div>

</li>



<li class='paper'>
<div class="paper-info">
<div class="title">Amortized Population Gibbs Samplers with Neural Sufficient Statistics</div>
<em>International Conference on Machine Learning (ICML), 2020</em>
<br>
<strong>Hao Wu</strong>, Heiko Zimmermann, Eli Sennesh, Tuan Anh Le, Jan-Willem van de Meent
<br>

<a href="http://proceedings.mlr.press/v119/wu20h.html">Paper</a>
<a data-bs-toggle="collapse" href="#wu2020amortized" role="button" aria-expanded="false">Bibtex</a>
<a href='https://github.com/hao-w/apgs'>Code</a>
<a href='https://icml.cc/virtual/2020/poster/6715'>Talk</a>
</div>

<div class="collapse" id="wu2020amortized">
  <div class="card card-body">
    @inproceedings{wu2020amortized,<br>
    title={Amortized Population Gibbs Samplers with Neural Sufficient Statistics},<br>
      author={Wu, Hao and Zimmermann, Heiko and Sennesh, Eli and Le, Tuan Anh and Van De Meent, Jan-Willem},<br>
      booktitle={International Conference on Machine Learning},<br>
      pages={10421--10431},<br>
      year={2020},<br>
      organization={PMLR}<br>
    }  </div>
</div>

</li>

<li class='paper'>
<div class="paper-info">
<div class="title">Structured Disentangled Representations</div>
<em>Artificial Intelligence and Statistics (AISTATS), 2019</em>
<br>
Babak Esmaeili, <strong>Hao Wu</strong>, Sarthak Jain, Alican Bozkurt, N. Siddharth, Brooks Paige, Dana H. Brooks, Jennifer Dy, Jan-Willem van de Meent
<br>

<a href="http://proceedings.mlr.press/v89/esmaeili19a.html">Paper</a>
<a data-bs-toggle="collapse" href="#esmaeili2019structured" role="button" aria-expanded="false">Bibtex</a>
</div>

<div class="collapse" id="esmaeili2019structured">
  <div class="card card-body">
    @inproceedings{esmaeili2019structured,<br>
      title={Structured disentangled representations},<br>
      author={Esmaeili, Babak and Wu, Hao and Jain, Sarthak and Bozkurt, Alican and Siddharth, Narayanaswamy and Paige, Brooks and Brooks, Dana H and Dy, Jennifer and Meent, Jan-Willem},<br>
      booktitle={The 22nd International Conference on Artificial Intelligence and Statistics},<br>
      pages={2525--2534},<br>
      year={2019},<br>
      organization={PMLR}<br>
    }  </div>
</div>

</li> -->

<li class='paper'>
<div class="paper-info">
<div class="title">Composing Modeling and Inference Operations with Probabilistic Program Combinators</div>
<em>NeurIPS Bayesian Nonparametrics Workshop, 2018</em>
<br>
Eli Sennesh, Adam Ścibior, <strong>Hao Wu</strong>, Jan-Willem van de Meent
<br>

<a href="https://arxiv.org/abs/1811.05965">Paper</a>
<a data-bs-toggle="collapse" href="#sennesh2018composing" role="button" aria-expanded="false">Bibtex</a>
</div>

<div class="collapse" id="sennesh2018composing">
  <div class="card card-body">
    @article{sennesh2018composing,<br>
      title={Composing Modeling and Inference Operations with Probabilistic Program Combinators},<br>
      author={Sennesh, Eli and Wu, Hao and van de Meent, Jan-Willem},<br>
      booktitle={Workshop on Bayesian Nonparametrics at Advances in Neural Information Processing Systems},<br>
      year={2018}
    }  </div>
</div>

</li>

</ul>
</div>
