---
---

@import "node_modules/bootstrap/scss/bootstrap";

*, html {
    font-family: HelveticaNeueW01-45Ligh,"Helvetica Neue",HelveticaNeue,Helvetica,sans-serif;
}
.research {
  // width: 120%;
  padding-top: 5rem;
  padding-left: 1rem;
  .paper {
    padding-bottom: 4rem;
  }
  .abstract {
    font-size: 1.15rem;
    padding-top: 0.7rem;

  }
  .paper-authorlist {
    font-size: 1.15rem;
  }
  h2 {
    font-weight: bold;
    padding-bottom: 2rem;
  }
  .paper-title{
    font-size: 1.3rem;
    font-weight: bold;
  }
  .paper-image{
    padding-top: 1rem;
    img {
    width: 220px;
    height: auto;
  }

  }

  // .paper-image > img {
  //   max-width: 220px;
  //   max-height: 200px;
  // }

}
.container {
  padding-left: 5em;
}

#header {
  h2 {
    color: $white;
    font-weight: bold;
    padding-left: 4rem;
    // padding-top: 1rem;
  }
  padding-bottom: 3rem;
}
.navbar-nav{
  // padding-left: 5rem;
  li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 5rem;
  }
}

.navbar-nav > li > a {
  font-weight: 400;
  font-size: $font-size-lg;
  color: $gray-400;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: $white;
  text-decoration: none;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus
{
  color: $white;
  text-decoration: none;
}


.publications{
  .title{
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
  }
  // padding-left: 12rem;
  padding-top: 7rem;
  .paper{
    margin-top: 2rem;
    margin-bottom: -1rem;
    // font-size: $font-size-lg;
  }
  .paper-info {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.1rem;
  }

  a{
    margin-right: 1rem;
  }
}


#general-info{
  // padding-left: 12rem;
  padding-top: 7rem;
}

.face_img {
  img {
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
    width: 86%;
    height: auto;
  }
}
.hao-card{
  padding-top: 2.5rem;
}

.status-info {
  p{
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  padding-top: 1rem;
}

.contact-info {
 p {
  font-size: 1.15rem;
  line-height: 2.2rem;
}
  a:hover{
    text-decoration: none;
}
 img {
   width: 20px;
   height: auto;
 }

//  .zoom {
//   transition: transform .2s; /* Animation */
//   width: 200px;
//   height: 200px;
//   margin: 0 auto;
// }
//
// .zoom:hover {
//   transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
// }

}



.biography{
  h1 {
    font-weight: bold;
  }
  p{
    font-size: 1.15rem;
  }
  a:hover{
    text-decoration: none;
}
}

.news{
  h2 {
    padding-bottom: 0.6rem;
    font-weight: bold;
  }
  a:hover{
    text-decoration: none;
}
  padding-top: 2rem;
  p{
    font-size: 1.15rem;
  }
}
