---
---



@import "node_modules/bootstrap/scss/bootstrap";

.container {
  padding-left: 7em;
}
.nav{
  // padding-left: 10rem;
  li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: 5rem;
  }
}

.nav > li > a {
  font-weight: 400;
  font-size: $font-size-lg;
  color: $gray-400;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: $white;
  text-decoration: none;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus
{
  color: $white;
  text-decoration: none;
}


.publications{
  h2{
    font-weight: bold;
  }
  // padding-left: 12rem;
  padding-top: 7rem;
  .paper{
    margin-top: 2rem;
    margin-bottom: -1rem;
    // font-size: $font-size-lg;
  }
  a{
    margin-right: 1rem;
  }
}


#general-info{
  // padding-left: 12rem;
  padding-top: 7rem;
}

.face_img {
  img {
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
    width: 86%;
    height: auto;
  }
}
.contact-info{
  padding-top: 2.5rem;
  h1 {
    font-weight: bold;
    padding-bottom: 1rem;
  }
  p{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  a:hover{
    text-decoration: none;
}
 img {
   width: 22px;
   height: auto;
 }

}


.biography{
  h1 {
    font-weight: bold;
  }
  p{
    font-size: 1.2rem;
  }
  a:hover{
    text-decoration: none;
}
}

.news{
  h3 {
    padding-bottom: 0.6rem;
  }
  a:hover{
    text-decoration: none;
}
  padding-top: 2rem;
  p{
    font-size: 1.2rem;
  }
}
